*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-size: 10px;
}

body {
  margin: 0;
  background: var(--mui-palette-background-default);
  color: var(--mui-palette-text-primary);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

input {
  background-color: var(--mui-palette-primary-main-contrastText);
}

img,
svg,
video,
canvas {
  display: block;
  max-width: 100%;
}

a {
  color: var(--mui-palette-primary-main);
  text-decoration: none;
}

.MuiTextField-root label {
  color: var(--mui-palette-primary-dark);
}

.MuiCard-root {
  border-radius: 10px;
  box-shadow: 0px 1px 15px #69738971;
}

.MuiCardContent-root {
  padding: 0;
}

.MuiSvgIcon-root {
  font-size: 5.5rem;
}

.MuiSvgIcon-fontSizeSmall {
  font-size: 2.5rem;
}

.MuiSvgIcon-fontSizeMedium {
  font-size: 5.5rem;
}

.MuiSvgIcon-fontSizeLarge {
  font-size: 10rem;
}
