*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-size: 10px;
}

body {
  margin: 0;
  background: var(--mui-palette-background-default);
  color: var(--mui-palette-text-primary);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

input {
  background-color: var(--mui-palette-primary-main-contrastText);
}

img,
svg,
video,
canvas {
  display: block;
  max-width: 100%;
}

a {
  color: var(--mui-palette-primary-main);
  text-decoration: none;
}

.MuiTextField-root label {
  color: var(--mui-palette-primary-dark);
}

.MuiCard-root {
  border-radius: 10px;
}

.MuiCardContent-root {
  padding: 0px;
}