.root {
  margin: 5px;
  padding: 0;
  align-items: center;
  background-color: var(--mui-palette-background-card);
  border-radius: 4px;
}

.root :global(.MuiCardHeader-avatar) {
  margin-right: 12px;
}
