.metaLabel {
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: 10px;
  color: var(--mui-palette-secondary-main);
  font-weight: 600;
}

.content {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  &:last-child {
    padding-bottom: 10px;
  }
}
