.root {
  background-color: #fbfbfc;
  background-image:
    linear-gradient(rgba(236, 236, 240, 0.85) 1px, transparent 1px),
    linear-gradient(to right, rgba(236, 236, 240, 0.85) 1px, #fbfbfc 1px);
  background-size: 15px 15px;
  min-height: calc(100vh - 100px);
}
