.card {
  display: flex;
}

.media {
  width: 104px;
  background-color: var(--mui-palette-background-paper);
  border-radius: 15px;
  box-shadow: 0 1px 10px #c5cdde25;
}

.column {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.secondaryText {
  color: var(--mui-palette-text-secondary);
}