.block {
  max-width: 600px;
}

.title {
  margin-bottom: 5px;
}

.guidelineList {
  padding-left: 20px;
  margin: 0;
  display: grid;
  gap: 8px;
}

.link {
  width: fit-content;
  margin-block: 3px;
  padding: 4px 6px;
  border-radius: 7px;
  background: var(--mui-palette-secondary-main);
  color: var(--mui-palette-secondary-contrastText);
  font-size: 1.5rem;
  line-height: 1.5;
}

.link:hover {
  background: var(--mui-palette-secondary-dark);
}

.sessionBlock {
  padding: 16px;
  border-radius: 12px;
  background: var(--mui-palette-secondary-main);
  color: var(--mui-palette-secondary-contrastText);
  font-size: 1.5rem;
  line-height: 1.5;
  overflow: auto;
}
