.root {
  display: grid;
  grid-template-columns: repeat(4, minmax(180px, 1fr));
  gap: 10px;
}

@media (max-width: 1150px) {
  .root {
    grid-template-columns: repeat(2, minmax(180px, 1fr));
  }
}

@media (max-width: 680px) {
  .root {
    grid-template-columns: 1fr;
  }
}
