.profileRadioGroupContainer {
  color: Chartreuse;
  border: 1px solid Chartreuse;
}

.profileRadioGroupLabel {
  border: 1px solid Coral;
  color: Coral;
}

.profileRadioGroupContainer :global(.MuiTypography-body1) {
  color: DarkCyan;
}

.profileRadioGroupContainer :global(.MuiRadioGroup-root) {
  border: 1px solid DarkGoldenRod;
  color: DarkGoldenRod;
}

.profileRadioContainer {
  border: 1px solid plum;
  color: DarkGoldenRod;
}

.profileRadioLabel {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.profileRadioContainer :global(.MuiTypography-body1) {
  color: DarkCyan;
}

.profileRadioContainer :global(.MuiTypography-caption) {
  color: DarkGreen;
}
