.profilRadioGroupContainer {
  color: Chartreuse;
  border: 1px solid Chartreuse;
}

.profilRadioGroupLabel {
  border: 1px solid Coral;
  color: Coral;
}

.profilRadioGroupContainer :global(.MuiTypography-body1) {
  color: DarkCyan;
}

.profilRadioGroupContainer :global(.MuiRadioGroup-root) {
  border: 1px solid DarkGoldenRod;
  color: DarkGoldenRod;
}

.profilRadioContainer {
  border: 1px solid plum;
  color: DarkGoldenRod;
}

.profilRadioLabel {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.profilRadioContainer :global(.MuiTypography-body1) {
  color: DarkCyan;
}

.profilRadioContainer :global(.MuiTypography-caption) {
  color: DarkGreen;
}
