.profileRadioGroupContainer {
}

.profileRadioGroupLabel {
  color: var(--mui-palette-primary-light);
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 1.167;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-bottom: 5px;
}

.profileRadioGroupContainer :global(.MuiTypography-body1) {
  margin-bottom: 20px;
}

.profileRadioGroupContainer :global(.MuiRadioGroup-root) {
}

.profileRadioContainer {
  margin: 0;
  border: 1px solid var(--mui-palette-primary-main);
  width: 100%;
  border-radius: 10px;
  margin-bottom: 5px;
  padding: 5px;
}

.profileRadioLabel {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.profileRadioContainer :global(.MuiTypography-body1) {
  font-weight: bold;
  margin-bottom: 1px;
}

.profileRadioContainer :global(.MuiTypography-caption) {
  font-size: 1.4rem;
  line-height: 1.3;
}
