@ui-letter-spacing: 0.5px;
@ui-font-family: sans-serif;
@color-button-size: 30px;

.ui-heading(@font-size, @transform: uppercase) {
  font-size: @font-size;
  font-family: @ui-font-family;
  font-weight: normal;
  letter-spacing: @ui-letter-spacing;
  text-transform: @transform;
}

.color-button-group() {
  margin-top: 10px;

  button {
    width: @color-button-size;
    height: @color-button-size;
  }
}

body {
  background-color: #dfe3e2;
  color: #5e6f65;
  display: flex;
  position: relative;
  overflow-y: scroll;
}
.viz-group {
  position: fixed;
  width: 300px;
  height: 100vh;
  overflow-y: scroll;
  p {
    .ui-heading(10px);
    margin-top: 0;
    margin-bottom: 2px;
  }
}
pre {
  border: 1px solid aliceblue;
  border-radius: 5px;
  padding: 3px;
  font-size: 6px;
  max-width: 300px;
}
h1 {
  .ui-heading(13px);
}
h2 {
  .ui-heading(8px);
}
.selector {
  position: relative;
  margin-left: 330px;
  width: calc(100vw - 380px);
  p {
    .ui-heading(13px, none);
    margin-top: 0;
    margin-bottom: 2px;
    max-width: 600px;
  }
}
.section-buttons {
  padding: 20px 0;
}
.face-color-buttons,
.hair-color-buttons,
.cheeks-color-buttons,
.glasses-color-buttons,
.earrings-color-buttons,
.tile-glasses-color-buttons,
.option-buttons {
  button {
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
      border: 1px solid rgb(161, 161, 174);
    }
  }
}
.main-tab-container,
.sub-tab-container {
  display: flex;
  .main-tab:first-of-type {
    margin-left: 0;
  }
}
.main-tab {
  width: 120px;
  border-radius: 10px 10px 0 0;
  border: 1px solid black;
  background-color: white;
  height: 50px;
  margin-left: -1px;
  display: flex;
  align-items: center;
  gap: 4px;
  .icon {
    background-color: black;
    width: 40px;
    height: 40px;
  }
}
.option-buttons {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  gap: 3px;
  .option-group {
    display: flex;
  }
  button {
    height: 100px;
    width: 100px;
    margin-bottom: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 9px;
    box-sizing: border-box;
    &.none {
      div {
        display: none;
      }
    }
    div {
      width: 98px;
      height: 98px;
      mask-size: cover;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

.face-color-buttons {
  .color-button-group();
  button {
    &#skin-color-1 {
      background-color: var(--skin-color-1);
    }
    &#skin-color-2 {
      background-color: var(--skin-color-2);
    }
    &#skin-color-3 {
      background-color: var(--skin-color-3);
    }
    &#skin-color-4 {
      background-color: var(--skin-color-4);
    }
    &#skin-color-5 {
      background-color: var(--skin-color-5);
    }
    &#skin-color-6 {
      background-color: var(--skin-color-6);
    }
    &#skin-color-7 {
      background-color: var(--skin-color-7);
    }
    &#skin-color-8 {
      background-color: var(--skin-color-8);
    }
    &#skin-color-9 {
      background-color: var(--skin-color-9);
    }
    &#skin-color-10 {
      background-color: var(--skin-color-10);
    }
    &#skin-color-11 {
      background-color: var(--skin-color-11);
    }
    &#skin-color-12 {
      background-color: var(--skin-color-12);
    }
    &#skin-color-13 {
      background-color: var(--skin-color-13);
    }
    &#skin-color-14 {
      background-color: var(--skin-color-14);
    }
    &#skin-color-15 {
      background-color: var(--skin-color-15);
    }
    &#skin-color-16 {
      background-color: var(--skin-color-16);
    }
    &#skin-color-17 {
      background-color: var(--skin-color-17);
    }
    &#skin-color-18 {
      background-color: var(--skin-color-18);
    }
    &#skin-color-19 {
      background-color: var(--skin-color-19);
    }
  }
}
.hair-color-buttons {
  .color-button-group();
  button {
    &#hair-color-10 {
      background-color: var(--hair-color-10);
    }
    &#hair-color-11 {
      background-color: var(--hair-color-11);
    }
    &#hair-color-12 {
      background-color: var(--hair-color-12);
    }
    &#hair-color-13 {
      background-color: var(--hair-color-13);
    }
    &#hair-color-14 {
      background-color: var(--hair-color-14);
    }
    &#hair-color-20 {
      background-color: var(--hair-color-20);
    }
    &#hair-color-21 {
      background-color: var(--hair-color-21);
    }
    &#hair-color-22 {
      background-color: var(--hair-color-22);
    }
    &#hair-color-23 {
      background-color: var(--hair-color-23);
    }
    &#hair-color-24 {
      background-color: var(--hair-color-24);
    }
    &#hair-color-30 {
      background-color: var(--hair-color-30);
    }
    &#hair-color-31 {
      background-color: var(--hair-color-31);
    }
    &#hair-color-32 {
      background-color: var(--hair-color-32);
    }
    &#hair-color-33 {
      background-color: var(--hair-color-33);
    }
    &#hair-color-34 {
      background-color: var(--hair-color-34);
    }
    &#hair-color-40 {
      background-color: var(--hair-color-40);
    }
    &#hair-color-41 {
      background-color: var(--hair-color-41);
    }
    &#hair-color-42 {
      background-color: var(--hair-color-42);
    }
    &#hair-color-43 {
      background-color: var(--hair-color-43);
    }
    &#hair-color-44 {
      background-color: var(--hair-color-44);
    }
    &#hair-color-50 {
      background-color: var(--hair-color-50);
    }
    &#hair-color-51 {
      background-color: var(--hair-color-51);
    }
    &#hair-color-52 {
      background-color: var(--hair-color-52);
    }
    &#hair-color-53 {
      background-color: var(--hair-color-53);
    }
    &#hair-color-54 {
      background-color: var(--hair-color-54);
    }
    &#hair-color-60 {
      background-color: var(--hair-color-60);
    }
    &#hair-color-61 {
      background-color: var(--hair-color-61);
    }
    &#hair-color-62 {
      background-color: var(--hair-color-62);
    }
    &#hair-color-63 {
      background-color: var(--hair-color-63);
    }
    &#hair-color-64 {
      background-color: var(--hair-color-64);
    }
    &#hair-color-70 {
      background-color: var(--hair-color-70);
    }
    &#hair-color-71 {
      background-color: var(--hair-color-71);
    }
    &#hair-color-72 {
      background-color: var(--hair-color-72);
    }
    &#hair-color-73 {
      background-color: var(--hair-color-73);
    }
    &#hair-color-74 {
      background-color: var(--hair-color-74);
    }
  }
}

.glasses-color-buttons {
  .color-button-group();
  button {
    &#glasses-color-1 {
      background-color: var(--glasses-color-1);
    }
    &#glasses-color-2 {
      background-color: var(--glasses-color-2);
    }
    &#glasses-color-3 {
      background-color: var(--glasses-color-3);
    }
    &#glasses-color-4 {
      background-color: var(--glasses-color-4);
    }
    &#glasses-color-5 {
      background-color: var(--glasses-color-5);
    }
  }
}
.tile-glasses-color-buttons {
  .color-button-group();
  button {
    &#glasses-tiles-color-1 {
      background-color: var(--glasses-tiles-color-1);
    }
    &#glasses-tiles-color-2 {
      background-color: var(--glasses-tiles-color-2);
    }
    &#glasses-tiles-color-3 {
      background-color: var(--glasses-tiles-color-3);
    }
  }
}
.cheeks-color-buttons {
  .color-button-group();
  button {
    &#cheeks-color-1 {
      background-color: var(--cheeks-color-1);
    }
    &#cheeks-color-2 {
      background-color: var(--cheeks-color-2);
    }
    &#cheeks-color-3 {
      background-color: var(--cheeks-color-3);
    }
    &#cheeks-color-4 {
      background-color: var(--cheeks-color-4);
    }
  }
}
.earrings-color-buttons {
  .color-button-group();
  button {
    &#earrings-color-1 {
      background-color: var(--earrings-color-1);
    }
    &#earrings-color-2 {
      background-color: var(--earrings-color-2);
    }
    &#earrings-color-3 {
      background-color: var(--earrings-color-3);
    }
    &#earrings-color-4 {
      background-color: var(--earrings-color-4);
    }
  }
}

.emotion-group {
  display: flex;
  gap: 10px;
  max-width: 300px;
  flex-wrap: wrap;
  #s1 {
    width: 130px !important;
    height: 130px !important;
  }
}
