.item {
  color: inherit;
  display: flex;
  gap: 20px;
  border-top: 1px solid var(--mui-palette-admin-contrastText);
  padding: 0;
  width: 100%;
}

.icon {
  background: var(--mui-palette-secondary-main);
  color: var(--mui-palette-secondary-contrastText);
  border-radius: 0px;
  border-right: 1px solid var(--mui-palette-admin-contrastText);
}

.item :global(.MuiListItemIcon-root) {
  min-width: auto;
}
