.cover {
  display: block;
  height: calc(100svh - 200px);
  width: auto;
  margin: 0;
}

.buttonGroup {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-end;
  gap: 10px;
}
.connexionContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 58px);
  padding-top: 40px;
  padding-bottom: 40px;
}
.infoContainer {
  max-width: 400px;
  border-radius: 20px;
  padding: 2rem;
  background-color: white;
  box-shadow: 0 0 30px #98acb142;
}

.infoTitle {
  font-size: 2.75rem;
}

.forgotLink {
  text-decoration: underline;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
