.cover {
  display: block;
  height: calc(100svh - 200px);
  width: auto;
  margin: 0;
}

.buttonGroup {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-end;
  gap: 10px;
}
